<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <% if(user !== undefined) {%>
    <% for(var url in urls){ %>
      <% if(urls[url].user_id === user.id){ %>
        <li style="margin: 20px"><a href="/u/<%=url%>"><%= url %></a> ->
          <%=urls[url].long_URL%>
          created at <%= urls[url].date %>
          -- <%= urls[url].visits %> visits with
          <button><a href="/urls/<%=url%>">Edit</a></button>
          <form style="display: inline-block;" action="/urls/<%=url%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
        </li>
      <% } %>
    <% } %>
    <button style="margin-top: 20px"><a href="/urls/new">Register New URL</a></button>
  <% } %>
</body>
</html>